<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codetribe.www.miwok">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lang"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lang"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NumbersActivity"
            android:label="@string/number_name"
            />

        <activity android:name=".FamilyMemberActivity"
            android:label="@string/family_name"
            />
        <activity android:name=".PhrasesActivity"
            android:label="@string/phrase_name"
            />
        <activity android:name=".ColourActivity"
            android:label="@string/colour_name"
            />
    </application>

</manifest>